@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.container{
    margin-top: 10rem;
    font-family: 'Quicksand', sans-serif;
    color: #343a40; /* standard bootstrap text dark */
}

#nome {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.introduzione{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

#id {
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
}